<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>

<p>Profile User</p>
<div name="infoUser">
    <table>
        <tr><td>full_name: </td> <td>
            <span th:text="${order.firstName}"> s</span>
            <span th:text="${order.middleName}"> s</span>
            <span th:text="${order.lastName}"> s</span>
        </td></tr>

        <tr><td>email: </td> <td><span th:text="${order.email}"> s</span></td></tr>
        <tr><td>phone: </td> <td><span th:text="${order.phone}"> s</span></td></tr>
        <tr><td>company: </td> <td><span th:text="${order.company}"> s</span></td></tr>
    </table>
</div>

<p>Profile Order</p>
<div name="infoOrder">
    <table>
        <tr><td>id_sale: </td> <td><span th:text="${order.idSale}"> s</span></td></tr>
        <tr><td>data: </td> <td><span th:text="${order.date}"> s</span></td></tr>
        <tr><td>status: </td> <td><span th:text="${order.status}"> s</span></td></tr>


        <tr><td>name_prod: </td> <td><a th:href="@{/product/} + ${order.idProd}" th:text="${order.nameProduct}"></a></td></tr>

        <tr><td>price: </td> <td><span th:text="${order.priceProduct}"> s</span></td></tr>
        <tr><td>weight: </td> <td><span th:text="${order.weightProduct}"> s</span></td></tr>
        <tr><td>qt: </td> <td><span th:text="${order.QtProduct}"> s</span></td></tr>
        <tr><td>total price: </td> <td><span th:text="${order.priceTotal}"> s</span></td></tr>
    </table>
</div>


</body>
</html>